body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.name{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#titre{
    text-align: center;
    border-radius: 20px;
    background-color:rgb(187, 181, 181);
    width: 100%;
}  
#sub{
    border-radius: 10px;
    height: 50px;
}
#subUser{
    border-radius: 10px;
    height: 50px;
}

#table{
    width: 70%;
}
#list{
    margin-right: 20px;
    margin-top: 5px;
}
#name{
    border-radius: 10px;
    height: 50px;
}
#ajt{
margin-left: 50px;
}
.fs-5{
    margin-left: 100px;
}
#sujet{
    margin-right: 20px;
}
#drop{
    margin-left: 700px;
}
.dropdown{
    margin-left:600px ;

}